---
# BasedOnStyle: Microsoft
BasedOnStyle: Google

# test comment

#BreakBeforeBraces: Custom
#BraceWrapping:
#  AfterEnum: true
#  AfterStruct: false
#  SplitEmptyFunction: false
#  AfterFunction: true
---
