---
BasedOnStyle: Google
TabWidth: 2
IndentWidth: 2
ColumnLimit: 80
UseTab: Always
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
 AfterEnum: true
 AfterStruct: false
 SplitEmptyFunction: false
 AfterFunction: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignTrailingComments: true
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
---
