If:
  PathMatch: [".*\\.c$"]
CompileFlags:
  Add: ["-std=c11"]

If:
  PathMatch: [".*\\.cpp$", ".*\\.cc$", ".*\\.cxx$", ".*\\.hpp$", ".*\\.hh$", ".*\\.h$"]
CompileFlags:
  Add: [-std=c++23, -Wall, -Wextra, -Wpedantic]
