If:
  PathMatch: [".*\\.c$", ".*\\.h$"]
CompileFlags:
  Add: ["-std=c11"]

If:
  PathMatch: [".*\\.cpp$", ".*\\.cc$", ".*\\.cxx$", ".*\\.hpp$", ".*\\.hh$"]
CompileFlags:
  Add: [-std=c++20, -Wall, -Wextra, -Wpedantic]
